html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #1e1e2e;
  font-family: "Hack Nerd Font", monospace;
  color: rgb(205, 214, 244);
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.description {
  margin-top: 20%;
  padding: 2%;
  text-align: center;
  border: 1px solid #7f849c;
  font-size: 2vh;
}

.sidebox {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.main-top-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 25%;
}

.main-bottom-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 25%;
}

.help {
  margin: 0 10%;
  border: 1px solid #7f849c;
  font-size: 1.5vh;
  padding: 2%;
  .command {
    text-decoration: underline;
    text-decoration-color: white;
  }
  .highlight {
    color: rgb(166, 227, 161);
  }
  .hide {
    color: rgb(110, 115, 141);
  }
}

.categories {
  margin: 0 10%;
  user-select: none;
  padding: 2%;
  display: flex;
  flex-direction: column;
  .title {
    text-decoration: underline;
    padding-bottom: 1%;
    font-size: 1.5vh;
  }
  div {
    font-family: "Hack Nerd Font", monospace;
    font-size: 1.5vh;
    border: 1px solid #7f849c;
    color: rgb(205, 214, 244);
    background: none;
    margin: 0;
    padding: 2%;
    transition: all 0.1s ease-in-out;
  }
  .active {
    background-color: rgba(166, 227, 161, 0.2);
  }
  .inactive {
    color: rgb(108, 112, 134);
    background-color: rgb(30, 30, 46);
  }
  .disabled {
    disabled: true;
    color: rgb(49, 50, 68);
    background-color: rgb(17, 17, 27);
  }
}

.gif {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    align: center;
    border: 1px solid #7f849c;
    padding: 2%;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
  }
}

.shortcut {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-text: center;
}

.progress {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-text: center;
  div {
    margin: 0 2%;
    height: 30%;
    aspect-ratio: 1 / 1;
    border: 1px solid #7f849c;
    transition: all 0.1s ease-in-out;
    background-color: rgba(205, 214, 244, 0.1);
  }
  .played {
    transform: scale(0.95);
    background-color: rgba(166, 227, 161, 0.1);
    border-color: rgb(166, 227, 161);
  }
  .active {
    transform: scale(1.1);
    border-color: rgb(205, 214, 244);
    background-color: rgba(205, 214, 244, 0.3);
  }
}

.plus {
  font-size: 5vh;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  align-text: center;
  height: 50%;
  margin: 0 5%;
  aspect-ratio: 1 / 1;
  font-size: 4vh;
  border: 1px solid #7f849c;
  transition: all 0.2s ease-in-out;
  background-color: rgba(205, 214, 244, 0.1);
}

.correct-key {
  transform: scale(0.95);
  background-color: rgba(166, 227, 161, 0.1);
  border-color: rgb(166, 227, 161);
}

.wrong-key {
  background-color: rgba(243, 139, 168, 0.1);
  border-color: rgba(243, 139, 168);
  animation: shake 0.2s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
